Emby.Plugins.TVMosaic/Client/XMLSchema/response.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.dvblogic.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="response">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="status_code" type="xs:unsignedShort" />
				<xs:element name="xml_result" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>